.user-card-body {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}
.user-info {
  display: flex;
  gap: 5px;
}

.user-btn {
  display: flex;
  gap: 5px;
}

.activation-btn {
  background-color: #04aa6d;
  color: white;
  padding: 3px 10px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.change-btn {
  background-color: #647cd3;
  color: white;
  padding: 3px 10px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
